<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div id="app">
			<br>
			<div class="col-lg-offset-4 col-lg-4">

				<sidebar v-model='value'></sidebar>
				<br>
				
				<label for="">OutSide Input Box</label>
				<input type="text" class="form-control" v-model='value'>

				

			</div>

		</div>
	</div>



	<script>
		
		Vue.component('sidebar',{
			template:`
				<div>
					<label for="">Component Input Box</label>
					<input type="text" class="form-control" v-on:input='change(valueC)' v-model='valueC'>
				</div>
				
				
			`,
			data(){
				return {
					valueC:''
				}
			},
			methods:{
				change(valueC){
					return this.$emit('input',valueC);
				}
			}
		})

		new Vue ({
			el: '#app',

			data:{
				value:'',
			},
			
		
		});
	</script>

	
</body>
</html>